<div id="message-<%= message.id %>">
  <small>
    <div class="sender"><%= message.user.nickname %></div >
    <i class="time"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
