// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
// Define fonts for body and headers
$body-font: 'Yanone Kaffeesatz', "Work Sans", "Helvetica", "sans-serif";
$headers-font: 'Road Rage', "Nunito", "Helvetica", "sans-serif";

$large-headers: 2.25rem;
$normal-headers: 1.75rem;
$body-font-size: 1.125rem;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
