// Specific CSS for your home-page
.main-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  padding-top: 2em;


  p {
    margin: 0;
  }

  .subheader {
    color: white;
    padding: 0 4em;
    text-align: center;
    max-width: 70ch;
  }

  .buttons {
    transform: translateY(20%);
  }


  .screen{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
