
.event-show {
  margin-top: 1em;

  .slider {
    padding: 0.5em;
  }

  .slider h1 {
    font-size: 2rem;
    margin: 0;

  }

  .tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2em;

    &.open {
      justify-content: flex-start;
    }

    span {
      margin: 0;
      align-self: flex-end;
    }
  }

  .tab h3 {
    font-size: 1.8rem;
  }
  .tab span{
    font-size: 1rem;
  }

  .wrapper {
    position: relative;

    &:nth-of-type(2n) > .tab {
      border-left: 0;
      border-right: 10px solid $main;
    }

    &:nth-of-type(2n + 1) > .tab {
      border-right: 0;
      border-left: 10px solid $main;
    }

    &:last-of-type {
      margin-bottom: 4.5em;
    }

    h3 {
      text-align: left;
    }

    .close-btn {
      font-size: 1.5rem;
      position: absolute;
      right: 30px;
      top: 10px;
    }
  }
}
