.event-show {
  margin-top: 1em;

  .slider {
    padding: 0.5em;
  }

  .slider h1 {
    font-size: 2rem;
    margin: 0;

  }

  .tab h3 {
    font-size: 1.8rem;
  }
  .tab span{
    font-size: 1rem;
  }
}
