<div class = "container">
  <div class = "d-flex justify-content-center">
  <%= @event.travel  %>
   </div>
  <div class = "flight_photo d-flex justify-content-center">
    <%= image_tag "boardingpass.png", height: 300, width: 250, crop: :fill %>
  </div>
</div>
