<div class = "container">
  <div class = "d-flex justify-content-center">
    <h1>Your flight details</h1>
  </div>
  <div class = "flight_photo d-flex justify-content-center">
    <%= image_tag "https://appletoolbox.com/wp-content/uploads/2019/04/mobilepass-540x779.jpg",
    height: 300, width: 250, crop: :fill %>
  </div>
</div>
