<div class="footer-container">
  <%= link_to new_event_path do %>
    <i class="fas fa-plus add"></i>
  <% end %>
  <%if current_page?('/events') === true %>
    <i class="fas fa-cube logo-footer" data-calendar-target="logo" data-action="click->calendar#toggleCalendar"></i>
  <% else %>
      <%= link_to root_path do %>
        <i class="fas fa-cube logo-footer" data-calendar-target="toRootLogo" data-action="click->calendar#resize"></i>
      <% end %>
  <% end %>
</div>
