<div class="footer-container sticky-bottom">
  <%= link_to new_event_path do %>
    <i class="fas fa-plus add"></i>
  <% end %>
  <%= link_to events_path do %>
    <i class="fas fa-cube logo-footer"></i>
  <% end %>
</div>
