<div class = "container">
  <div class = "d-flex justify-content-center">
      <%= @event.accomodation %>
  </div>
  <div class = " d-flex justify-content-center">
    <%= image_tag "hotel.png", height: 300, width: 250, crop: :fill %>
  </div>
</div>
