<div class = "container">
  <div class = "d-flex justify-content-center">
    <h1>Your hotel details</h1>
  </div>
  <div class = " d-flex justify-content-center">
    <%= image_tag "https://millionmilesecrets.com/wp-content/uploads/2021/02/2021-02-22_17-02-48-1024x787.png",
    height: 300, width: 300, crop: :fill %>
  </div>
</div>
