<div class="slider sticky">
  <div class="list-heading">
    <div class="list-title">EVENTS</div>
  </div>
</div>

<% @events_month.each do |event| %>
    <div class="tab">
    <%= link_to event_path(event) do %>
        <h3><%= event.name %></h3>
        <span><%= event.date.to_formatted_s(:long_ordinal) %></span>
    <%end%>
      </div>
<% end %>
