<div class="head-calendar">
  <div class="slider sticky-slider">
    <div class="list-title">EVENTS</div>
  </div>
</div>

<% @events.each do |event| %>
    <div class="tab">
    <%= link_to event_path(event) do %>
        <div class="tab-headers">
          <h3><%= event.name %></h3>
          <span><%= event.date.to_formatted_s(:long_ordinal) %></span>
        </div>
    <%end%>
      </div>
<% end %>
