<div class="slider sticky">
  <div class="calendar-heading">
    <div class="prev"><</div>
    <div class="calendar-title">EVENTS</div>
    <div class="next">></div>
  </div>
</div>


<% @events.each do |event| %>
    <div class="tab">
    <%= link_to event_path(event) do %>
        <h3><%= event.name %></h3>
        <span><%= event.date.to_formatted_s(:long_ordinal) %></span>
    <%end%>
      </div>
<% end %>
