
<div class="slider sticky">
  <div class="calendar-heading">
    <div class="prev"><</div>
    <div class="calendar-title">November 2021</div>
    <div class="next">></div>
  </div>
</div>
<% @events_month.each do |event| %>
    <% notification = @unreadMessages[event.id] && @unreadMessages[event.id] > 0 ? 'notification' : '' %>
    <div class="tab <%= notification %>">
    <%= link_to event_path(event) do %>
        <h3><%= event.name %></h3>
        <span><%= event.date.to_formatted_s(:long_ordinal) %></span>
    <%end%>
      </div>
<% end %>
