<div class="navbar-container sticky gradient">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
      <i class="fas fa-search search-icon"></i>
</div>
