<div class="navbar-container sticky gradient">
  <% if user_signed_in? %>
    <% if current_user.photo.attached? %>
      <div class = "avatar">
        <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill %>
      </div>
    <% else %>
      <div class = "avatar">
        <%= image_tag "https://thumbs.dreamstime.com/b/icono-de-avatar-dj-estilo-simple-vectorial-para-dise%C3%B1o-web-aislado-en-fondo-blanco-164370922.jpg",
        height: 50, width: 50, crop: :fill %>
      </div>
    <% end %>
  <% end %>

  <i class="fas fa-search search-icon"></i>
</div>
