<div class="navbar-container sticky gradient">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
    <%= link_to "edit profile", edit_user_registration_path, class: "dropdown-item" %>
    <%= link_to "dashboard", dashboards_path, class: "dropdown-item" %>
    <%= link_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
  <i class="fas fa-search search-icon"></i>
</div>
