<div class="navbar-container">
  <div class="navbar-content">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
      <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>
