<div>
  <div class="calender" data-calendar-target="calendarr">
    <%= render 'shared/calender'%>
  </div>
  <div class="list hidden" data-calendar-target="list">
    <%= render 'shared/list'%>
  </div>
</div>
