<div class = container>
  <div>
    <h1> Upcoming Events </h1>
    <div class = event_card>
      <% @events.each do |event| %>
      <div class = one_card>
        <h3><%= event.name %></h3>
        <h4><%= event.address %></h4>
        <h6><%= event.date %></h6>
        <p><%= event.category %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
