<div class="event-show" data-controller="show">
  <div class="slider mb-4">
    <h1><%= @event.name %><h1>
  </div>


  <div class="wrapper">
    <div class="close-btn mt-2 hidden" data-show-target="close" data-action="click->show#close">X</div>
    <div class="tab" data-show-target="tab" data-action="click->show#open">
        <h3>Chat</h3>
        <span>Sven, Rosa, Me...</span>
      <div class = "chat hidden" data-show-target="content" >
        <%= render 'shared/chat', :locals => { :event => @event, :invitation => @invitation, :message => @message } %>
      </div>
    </div>
  </div>

  <div class="tab">
    <h3>Flight</h3><span></span>
  </div>

  <div class="tab">
    <h3>Hotel</h3><span></span>
  </div>

  <div class="tab">
    <h3>Driver</h3><span></span>
  </div>


  <div class = "overview hidden">
    <%= render 'shared/overview', :locals => { :event => @event } %>
  </div>


</div>
