<div class="event-show">
  <div class="slider mb-4">
    <h1><%= @event.name %><h1>
  </div>

  <div class="tab">
    <h3>Chat</h3><span>Sven, Rosa, Me...</span>
    <div class = "chat hidden">
      <%= render 'shared/chat', :locals => { :event => @event, :invitation => @invitation, :message => @message } %>
    </div>
  </div>

  <div class="tab">
    <h3>Flight</h3><span></span>
  </div>

  <div class="tab">
    <h3>Hotel</h3><span></span>
  </div>

  <div class="tab">
    <h3>Driver</h3><span></span>
  </div>


  <div class = "overview hidden">
    <%= render 'shared/overview', :locals => { :event => @event } %>
  </div>


</div>
