<p class="subheader">TURMA helps you to have all your important information in one place. Retreive, Update and Communciate. Streamline your touring experience with TURMA - your digital tour manager! </p>

<div class="buttons">
  <%= link_to "Log In", user_session_path, class: "button log-in active" %>
  <%= link_to "Sign up", new_user_registration_path, class: "button sign-up" %>
</div>
