<div class="main-page">
  <div class="logo main">
    <i class="fas fa-cube"></i>
    <p>Turma</p>
  </div>

  <div class="container">
    <div class="screen">
      <%= render 'landing' %>
    </div>
  </div>



</div>
