<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <a href="#" class="button mb-2">Sign Up</a>
  <div class="slider mb-2"><span class="left"><</span>November 2021<span class="right">></span></div>
  <div class="tab"><h3>Berghain / Berlin </h3><span>Sunday / 21<small>st</small> February</span></div>
  <div class="tab"><h3>The Block / Tel Aviv </h3><span>Sunday / 21<small>st</small> February</span></div>
  <div class="tab notification"><h3>Volt / Milan </h3><span>Sunday / 21<small>st</small> February</span></div>
</div>
