<div class="container">
  <h1>invitations</h1>

  <div class="card-grid">
    <% @invitations.each do |invitation| %>
     <h2><%= invitation.user.name %></h2>
      <p>Status:
        <span>
          <% if invitation.status.nil? %>
            <span class="pending">Pending</span>
          <% elsif invitation.status %>
            <span class="status">Approved</span>
          <% else %>
            <span class="declined">Declined</span>
          <% end %>
        </span>
      </p>
      <div>
        <% if invitation.status.nil? %>
          <%= link_to "Approve", event_invitations_path(params[:event_id] ,invitation, status: true), method: :patch %>
          <%= link_to "Decline", event_invitations_path(params[:event_id] ,invitation, status: false), method: :patch %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
