<div class="dashboard-contents">
  <div class="devent"
    <div class = "d-flex justify-content-center">
      <% @events.each do |event| %>
        <h1><%= event.name %></h1>
      <% end %>
    </div>
  </div>
</div>
