<div>
  <div class = 'title'>
    <h1>Hello <span><%= current_user.name %></span>, we love you.</h1>
  </div>
</div>

<div>
  <div class="calender" data-calendar-target="calendarr">
      <%= render 'dashboards/invitation' %>
  </div>
  <div class="list hidden" data-calendar-target="list">
      <%= render 'dashboards/invitation'%>
  </div>
</div>
