.simple-calendar {
  td {color: $main;}
  th {color: $main; border: 0px !important;}
  span {color: $main;}
  a:hover {text-decoration: none; color: $main;}

  .day { border: 0px;}

  .day p {font-size: 12px;}
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {background: $background !important;
    border: solid;
    border-color: $main;
    border-radius: 50px;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {background: $background !important; color: rgba(255, 255, 255, 0.288);}
  .next-month {background: $background !important; color: rgba(255, 255, 255, 0.288);}
  .current-month {}

  .has-events {}
}

.table {
  margin-top: 20px;
  border: 0px !important;
  height: 550px;
}

.calender-title {
  width: 100%;
}


.calendar-heading {
  display: flex;
  justify-content: space-between;
}
