.simple-calendar {
  td {color: $main; size: 10px; padding: 0px;}
  th {color: $main; border: 0px !important; padding-bottom: 5px; padding: 0px;}
  span {color: $main;}
  a:hover {text-decoration: none; color: $main;}
  tr {height: 90px;}
  .day { border: 0px; height: 80px; width: 47px;}

  .day p {font-size: 10px; margin: 0px;}
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {background: rgba(255, 255, 255, 0.15) !important;

  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {background: $background !important; color: rgba(255, 255, 255, 0.288);}
  .next-month {background: $background !important; color: rgba(255, 255, 255, 0.288);}
  .current-month {}

  .has-events {}
}

.table{
  margin-top: -55px;
  margin-left: 10px;
}

.calender-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px !important;
}

.event {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.calendar-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-calendar {
  display: flex;
  justify-content: center;
  width: 100%;
}
