

.chatroom {
  height: 350px;
  background-color: $background;
  border: none;

  .name {
    color: $alert;
    font-weight: bold;
    font-size: 1.2em;
  }



  input, #message_content {
    background-color: $background;
    border: 0;
  }

  #message_content {
    height: 2.8rem;
    width: 320px;
    margin: -1em -1em;
    color: rgba($main, 0.8);
    width: 85%;

  }

  .form-send {
    background-color: $main;
    color: $background;
    font-size: 0.7em;
    font-family: $headers-font;
    border-radius: 100vh;
    padding: 0.0 1em;
  }



  .simple_form {
    height: 1rem;
    position: relative;
    justify-self: end;
   }

  .btn-primary {
    position: absolute;
    top: 7px;
    right: 0;
  }

}

.messages  {
  line-height: 1.2;
  padding: 0;
  height: 100%;
  overflow: scroll;
  padding: 0 0.5em 0.7em;


  & > * {
    border-bottom: 0.5px solid rgba($main, 0.2);
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.3em;
    margin-inline: 1em;
  }

  .time {
    opacity: 0.5;
  }

}
