// .dashboard-contents {
//   margin-top: 9px;
//   height: calc(100vh - 75px);
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   flex-grow: 1;
//   overflow-y: hidden;
// }

  // .devent {
  //   height: 100%;
  //   overflow: scroll;
  //   padding: 1rem;
  //   overflow-y: hidden;
  // }

    .rsvpLinks {
      position: absolute;
      right: 29px;
      top: 170px;
    }
