.dashboard {
  .wrapper {
    position: relative;

      &:nth-of-type(2n) > .tab {
        border-left: 0;
        border-right: 10px solid $main;
      }

      &:nth-of-type(2n + 1) > .tab {
        border-right: 0;
        border-left: 10px solid $main;
      }
  }

  .tab {
    &.open {
      height: 140px;
    }

    h3 {
      text-align: start;
      margin-top: 0.3em;
    }

    & > p {
      font-size: 1rem;
      margin-left: 1.5em;
      margin-bottom: 0;
    }

    #invitor{
    margin-left: 1em;
    margin-bottom: 0em;
    margin-top: 0.4em;
    font-size: $body-font-size;
    }

    #ddate {
    margin-left: 1em;
    margin-bottom: 0em;
    margin-top: -0.8em;
    }

    .content
     {
      padding: 0.3em !important;
    }

    .content
     > p {
      font-size: 1rem;
      border-top: 1px solid rgba($main, 0.5);
      padding: 0.5em;
    }
  }


  h1 {
    font-size: 2rem;
    margin-block: .2em 0.5em;
    margin-left: 0.5em;
  }

    .username {
    color: $alert;
  }

  .rsvpLinks {
    position: absolute;
    right: 21px;
    top: 61px;


    :first-child {
      margin-right: 0.5em;
      color: green;
    }
    :last-child {
      color: red;
    }
  }

  .close-btn {
    position: absolute;
    right: 20px;
    font-size: 1.5rem;
  }
}
