.dropdown-menu{
  z-index: 2;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: capitalize;
  margin-left: -1em;
}

.dropdown-item{
  color: $main;
  letter-spacing: 4px;
}
