.footer-container {
  height: 121px;
  background-color: $background;
  display: flex;
  //align-items: center;
  justify-content: space-between;
  position: fixed;
   left:0px;
   bottom:0px !important;
   width:100%;
   padding: 2em 1.5em;
}


.add {
  color: $main;
  font-size: 25px;
}

.refresh {
    width: 54px;
}

// .footer-container::before {
//   content: "";
// }
