.list-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px !important;
}

.list-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15px;
}
