.logo {
  text-align: center;
  margin-bottom: 2.5em;
  margin-top: 4em;

  &.main > i {
    color: $alert;
    font-size: 4rem;
  }

  p {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    line-height: 1;
  }
}

.logo-footer {
  color: $alert;
  font-size: 45px;
  transform: translate(5px, -4px);
  transition: transform 300ms ease-in-out;

  &.open {
    transform: rotateZ(-180deg)
               translateX(-0.1em)
               translateY(0.15em);
    transition: transform 300ms ease-in-out;
  }

}
