.logo {
  text-align: center;
  margin-top: 1em;

  &.main > i {
    color: $alert;
    font-size: 4rem;
  }

  p {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    // margin-top: -0.5em;
    line-height: 0.6;
  }
}
