.navbar-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.2));
  height: 60px;
  position: relative;
  padding: 23px;
  padding-top: 30px;
  align-items: center;
  z-index: 100;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}


.search-icon {
  color: $main;
  font-size: 20px;
  margin: 10px 15px;
  z-index: 5;

  &.active {
    color: $alert;
    margin-right: 1em;
  }
}

.search-btn {
  z-index: 50;
  position: absolute;
}
.navbar-container::after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 8px;
  box-shadow: 0px 3px 2px rgba(255, 255, 255, 0.2);
  width: 360px;
  height: 1px;
}


.search_items {
  display: flex;
  margin-right: -1em;
  position: relative;
  width: 70%;
}


.search_btn {
  visibility: hidden;
}

.search_bar {
  width: 100%;
  display: flex;
  justify-content: right;

}

.search {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  -webkit-transform:scale(1.0);


}

#query {
  position: absolute;
  right: 0.7em;
  border-radius: 100vh;
  transform: scaleX(0%);
  -webkit-transform-origin: right;
  -webkit-transition: transform 300ms linear;

  &.open-bar {
    -webkit-transform: scaleX(100%);
    -webkit-transform-origin: right;
    -webkit-transition: transform 300ms linear;
  }
}
