.navbar-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.2));
  height: 60px;
  position: relative;
  padding: 23px;
  padding-top: 30px;
  align-items: center;
  z-index: 100;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

.search {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.search-icon {
  color: $main;
  font-size: 20px;
  margin: 10px 15px;
}

.navbar-container::after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 8px;
  box-shadow: 0px 3px 2px rgba(255, 255, 255, 0.2);
  width: 360px;
  height: 1px;
}

.search_btn {
  visibility: hidden;
}

.search_bar {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 30px;
}
