.navbar-container {
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0);
  height: 60px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 316px;
  height: 45px;
  margin: 15px;
}
