.card {
  padding: 10px;
  margin: 10px 0;
  size: 50%;
  font-size: smaller;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  margin: auto 50px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  font-size: smaller;
}

.map {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event_pic {
  margin: 10px;
}

.btn-link {
  background-color: orange;
  color: black;
  margin-top: 10px;
}

.btn-link:hover {
  color: black;
  text-decoration: none;
}

.btn-link {
  background-color: $main;
}

.btn input {
  background-color: $main;
}
