.slider {
  margin-top: 15px;
  margin-bottom: 0.5em;
  --border-size: 13px;
  display: inline-block;
  background-color: $background;
  color: $main;
  text-transform: uppercase;
  font-size: $normal-headers;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  padding: 0.5em 0;
  text-align: center;
  border: 2px solid $main;
  border-right: var(--border-size) solid $main;
  border-left: var(--border-size) solid $main;
  border-radius: 10px;
  position: static;
  z-index: 1;

  & span {
    position: absolute;
    color: $background;
    font-size: $normal-headers;
    cursor: pointer;
    padding: 0.85em 0.3em;
    top: 0;
  }

  span.left {
    left: calc(var(--border-size) * -1);
  }

  span.right {
    right: calc(var(--border-size) * -1);
  }


  &:hover {
    text-decoration: none;
    border: 2px solid rgba($main, 0.7);
    border-right: var(--border-size) solid rgba($main, 0.7);
    border-left: var(--border-size) solid rgba($main, 0.7);
    color: rgba($main, 0.7);

  }
}

.sticky-slider {
	position: -webkit-sticky;
	position: sticky;
	top: 70px;
}
