// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


@import 'mapbox-gl/dist/mapbox-gl';
.close-timer {
  color: $alert !important;
  background-color: $main;
  bottom: 100px;
  opacity: 0;
  transition: opacity 2.5s ease-in;
  -webkit-transition: opacity 2.5s ease-in;
 }

body {
  background-color: $background;
  min-height: 100vh;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;

    @media (min-width: 1000px) {
      width: 50% !important;
    }
  }
}

body h1{
  color: $main;
}

a {
  text-decoration: none;
  color: $main;
}

.hidden {
  display: none;
}

a:hover {
  color: $main;
  text-decoration: none;
}
